.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  background-color:dodgerblue;
  color: white;
}

.logo {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.logo__image {
  max-width: 4rem;
}

nav .menu .menu .menu__item {
  background-color: dodgerblue;
}

ul.menu {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.menu .menu {
  position: relative;
}

.menu .menu .menu__item {
  position: absolute;
}

.menu.collapsed > * {
  display: none;

}

.menu__item {
  display: inline-block;
  padding: .75rem;
  cursor: pointer;
}